#### <div style="color:#0077b6; text-align:right">NAME : SANJHI JAIN</div>
#### <div style="color:#0077b6; text-align:right">ROLL NO : CSC/21/19</div>

## <span style="color:#4a4e69">PRACTICAL 08 </span>

#### <span style="color:#007f5f">8.Consider the following data frame containing a family name,gender of the family member and heer/his monthly income in each record. 
Name Gender MonthlyIncome (Rs.)
Shah Male 114000.00
Vats Male 65000.00
Vats Female 43150.00
Kumar Female 69500.00
Vats Female 155000.00
Kumar Male 103000.00
Shah Male 55000.00
Shah Female 112400.00
Kumar Female 81030.00
Vats Male 71900.00</span>

In [1]:
# importing numpy library
# importing pandas library
import numpy as np
import pandas as pd

In [5]:
#loading dataset into dataframe
data = {
 'Name': ['Shah', 'Vats', 'Vats', 'Kumar', 'Vats', 'Kumar', 'Shah', 'Shah', 'Kumar',], 
 'Gender': ['Male', 'Male', 'Female', 'Female', 'Female', 'Male', 'Male', 'Female',], 
 'MonthlyIncome': [114000.00, 65000.00, 43150.00, 69500.00, 155000.00, 103000.00, 550]
}
df = pd.DataFrame(data)
df

ValueError: All arrays must be of the same length

##### <span style="color:#003f88">a. Calculate and display familywise gross monthly income</span>

In [6]:
familywise_income = df.groupby('Name')['MonthlyIncome'].sum()
print("Familywise Gross Monthly Income:")
print(familywise_income)

NameError: name 'df' is not defined

##### <span style="color:#003f88">b. Calculate and display the member with the highest monthly income in a family</span>

In [7]:
max_income_member = df.groupby('Name')['MonthlyIncome'].idxmax()
# print(max_income_member) #store the index of max income in a family
highest_income_members = df.loc[max_income_member]
print("Member with Highest Monthly Income in Each Family:")
print(highest_income_members)

NameError: name 'df' is not defined

##### <span style="color:#003f88">c. Calculate and display monthly income of all members with income greater than Rs.60000.00
</span>

In [8]:
high_income_members = df[df['MonthlyIncome'] > 60000.00]
print("Monthly Income of Members with Income > Rs. 60000.00:")
print(high_income_members[['Name', 'MonthlyIncome']])

NameError: name 'df' is not defined

##### <span style="color:#003f88">d. Calculate and display the average monthly income of the female members in the Shah family
</span>

In [9]:
shah_female_avg_income = df[(df['Name'] == 'Shah') & (df['Gender'] =='Female')]['Monthly income']
print("Average Monthly Income of Female Members in Shah Family:",shah_female_avg_income)

NameError: name 'df' is not defined